@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap');


/*footer*/ 
.footer{
    background: rgb(31, 30, 30);
    color:white;
    padding: 5px;
    
}

.letras{
    font-family: 'Gwendolyn', cursive;
}

.puntosfooter{
   list-style: none;
   text-decoration: none;
   color: rgb(163, 158, 158);
}

