@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap');



nav{
    padding-bottom: 300px;
    
}

.color{
    background: black;
    padding-bottom: 20px;
    
}

/*footer*/ 
.footer{
    background: rgb(31, 30, 30);
    color:white;
    padding: 5px;
    
}

.letras{
    font-family: 'Gwendolyn', cursive;
}

.puntosfooter{
   list-style: none;
   text-decoration: none;
   color: rgb(163, 158, 158);
}

.letra:hover{
    position: relative; 
    bottom: 3px;
    left: 3px;
    /*filter: blur(0px);*/
    /*filter: grayscale(100%); */
    filter: opacity(50%);
    transition: 1000ms;
}